<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Map</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/dataMap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="img/icon/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="lib/d3.v5.min.js"></script>
    <script src="js/common.js"></script>
</head>

<body id="data_map_body" class="unselectable">
    <header class="header">
        <div class="logo_container">
            <div class="logo"></div>
        </div>
        <div class="header_content">
            <div class="search_button" id="search_button" onclick="openSearchPopup()"></div>
            <div class="back_button" id="back_button" onclick="returnToGeneralView()"></div>
            <div class="search_condition_container" id="search_condition_container"></div>
        </div>
    </header>
    <div class="content_container">
        <div class="page_menu">
            <div class="page_menu_element type_management" id="type_management_page" title="Type Management"
                onclick="location.href = '/typeManagement'"></div>
            <div class="page_menu_element graph_management" id="graph_management_page" title="Graph Management"
                onclick="location.href = '/graphManagement'"></div>
            <div class="page_menu_element data_map current_page" id="data_map_page" title="Data Map"
                onclick="location.href = '/dataMap'"></div>
            <!-- <div class="page_menu_element report" id="report_page" title="Report Management"
                onclick="location.href = '/report'"></div> -->
            <div class="page_menu_element user_info" id="user_info" title="User info" style="display:none;" 
                onclick="location.href = '/admin'"></div>
            <div class="page_menu_element log_out" id="log_out_page" title="Log Out" onclick="logout()"></div>
        </div>
        <div class="content column">
            <div class="map_container">
                <div class="map_container_top">
                    <div class="page_title_container">
                        <h1 class="page_title">DATA MAP</h1>
                        <div class="title_line"></div>
                    </div>
                    <div class="axis_container">
                        <!-- X Axis dropdown menu -->
                        <div id="dropdown_x" class="dropdown xy_style x_position">
                            <div id="select_x" class="select">
                                <span id="get_x_label">Time</span>
                            </div>
                            <ul id="ul_x" class="dropdown_menu"></ul>
                        </div>
                    </div>
                    <!-- Y Axis dropdown menu -->
                    <div id="dropdown_y" class="dropdown xy_style y_position">
                        <div id="select_y" class="select">
                            <span id="get_y_label">Createdby</span>
                        </div>
                        <ul id="ul_y" class="dropdown_menu"></ul>
                    </div>
                    <!-- X軸のラベル -->
                    <div class="x_label_container">
                        <div id="x_label" class="dropdown_label xy_style x_position">Time</div>
                        <span class="arrow_right xy_style"></span>
                    </div>
                </div>
                <div class="time_line_container" id="time_line"></div>
                <div class="canvas_container" id="canvas_container"></div>
            </div>
            <!-- Y軸のラベル -->
            <div class="y_label_container">
                <span class="arrow_down xy_style"></span>
                <div id="y_label" class="dropdown_label xy_style y_position">Createdby</div>
            </div>
            <div class="popup_container" id="popup_container">
                <div class="popup_background" onclick="closePopupData()"></div>
                <div class="popup" id="popup_properties">
                    <div class="popup_close_button" onclick="closePopupData()"></div>
                    <div class="popup_content" id="popup_content">
                        <div class="popup_bottom_container">
                            <div class="file_contents_container" id="file_contents_container">
                                <div class="popup_title" id="node_title">File Contents</div>
                                <div class="file_container">
                                    <div id="file_contents" class="file_contents"></div>
                                </div>
                            </div>
                            <div class="file_properties_container">
                                <div class="popup_title">Properties</div>
                                <div class="file_container">
                                    <pre id="clicked_id_properties" class="click_id_properties"></pre>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="popup_button_container">
                        <a class="popup_button download_data" id="download_data" onclick="downloadData(this)">Data
                            Download</a>
                        <div class="popup_button sub_color" id="lineage_button">Lineage</div>
                    </div>
                </div>
            </div>
            <!-- Search popup -->
            <div class="popup_container" id="search_popup">
                <div class="popup_background" onclick="closeSearchPopup()"></div>
                <div class="popup">
                    <div class="popup_close_button" onclick="closeSearchPopup()"></div>
                    <div class="popup_content" id="search_popup_content">
                        <div class="id_search_container">
                            <div class="search_popup_title popup_title" id="id_search_title">Node ID search</div>
                            <div class="popup_file_search_container">
                                <label for="id_search_input" id="id_search_input_label">Node ID</label>
                                <input type="text" id="id_search_input" class="select_style" autocomplete="off">
                            </div>
                        </div>
                        <div class="or">-OR-</div>
                        <div class="property_search_container">
                            <div class="search_popup_title popup_title" id="property_search_title">Property search</div>
                            <div class="popup_file_search_container">
                                <div class="property_search_element">
                                    <label for="property_search_node_type_select"
                                        id="property_search_node_type_select_label">Node type</label>
                                    <select id="property_search_node_type_select"
                                        onchange="populateSubTypeSelect(event.target.value)">
                                        <option value="dataset">Dataset</option>
                                        <option value="data">Data</option>
                                    </select>
                                </div>
                                <div class="property_search_element">
                                    <label for="property_search_sub_type_select"
                                        id="property_search_sub_type_select_label">Sub type</label>
                                    <select id="property_search_sub_type_select"
                                        onchange="populateSubTypeProperties(event.target.value)"></select>
                                </div>
                                <div id="property_search_property_container"></div>
                            </div>

                        </div>
                    </div>
                    <div class="popup_button_container">
                        <div class="popup_button" id="popup_search_button" onclick="searchNodes()">Search</div>
                        <div class="popup_button sub_color" id="popup_reset_button" onclick="resetSearchPopup()">Reset</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/dataMap.js"></script>
    <script src="js/d3canvas.js"></script>
</body>

</html>