<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">
    <link rel="icon" href="../img/icon/favicon.ico">

    <!-- vertexShader -->
    <script type="x-shader/x-vertex" id="vertexShader">
        uniform vec2 uFrequency;
        varying vec2 vUv;

        // attribute vec3 position;
        
        // 頂点座標を決める
        void main() {
            vUv = uv;
            vec4 modelPosition = modelMatrix * vec4(position, 1.0);
        
            // 波の形を表すsin()
            // modelPosition.z += sin(modelPosition.x * 10.0) * 0.1;
            modelPosition.z += sin(modelPosition.x * uFrequency.x) * 0.2;
            modelPosition.z += sin(modelPosition.y * uFrequency.y) * 0.2;
        
            // z座標を手前に0.3動かした
            //modelPosition.z += 0.3;
        
            // y座標を上に0.3動かした
            // modelPosition.y += 0.3;
        
            // x座標を右に0.3動かした
            // modelPosition.x += 0.3;
        
            vec4 viewPosition = viewMatrix * modelPosition;
            vec4 projectionPosition = projectionMatrix * viewPosition;
            gl_Position = projectionPosition;
            // gl_Position = projectionMatrix * viewMatrix * modelMatrix * vec4(position, 1.0);
        }
    </script>
    <!-- fragmentShader -->
    <script type="x-shader/x-fragment" id="fragmentShader">
        varying vec2 vUv;
        uniform sampler2D uTex;
        void main() {
            gl_FragColor = texture2D(uTex, vUv);
            //gl_FragColor = vec4(0.1, 0.9, 0.8, 0.8); //rgbaを表現している
        }
    </script>

    <!-- Tween.js -->
    <script src="../lib/Tween.js"></script>
</head>
<body id="loginBody">
    <div class="background-container">
        <img src="../img/login/login_background.jpg" alt="背景画像">
    </div><!-- /.background-container -->
    <!-- Three.js 背景 -->
    <canvas class="body_canvas"></canvas>
    <div class="login_wrapper">
        <div class="cube_div"></div>
        <div class="container">
                <div class="mailadress">
                    <input type="text" id="mail" placeholder="Mail" autocomplete="off" part="mailInput">
                </div>
                <div class="password">
                    <input type="password" id="password" placeholder="Password" autocomplete="off">
                </div>
                <button id="login_button" class="login_button">
                    <img src="../img/login/login_button.png" alt="LOGIN" width="80%">
                </button>
        </div>
    </div>

    <script src="../js/login.js" type="module"></script>
    <script src="../js/login_three.js" type="module"></script>
</body>

</html>