<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Management</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/typeManagement.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="icon" href="img/icon/favicon.ico">
    <script src="js/common.js"></script>
</head>

<body class="unselectable">
    <header class="header">
        <div class="logo_container">
            <div class="logo"></div>
        </div>
        <div class="header_content">
            <div class="search_condition_container" id="search_condition_container"></div>
        </div>
    </header>
    <div class="content_container">
        <div class="page_menu">
            <div class="page_menu_element type_management current_page" id="type_management_page"
                title="Type Management Page" onclick="location.href = '/typeManagement'"></div>
            <div class="page_menu_element graph_management" id="graph_management_page" title="Graph Management"
                onclick="location.href = '/graphManagement'"></div>
            <div class="page_menu_element data_map" id="data_map_page" title="Data Map"
                onclick="location.href = '/dataMap'"></div>
            <!-- <div class="page_menu_element report" id="report_page" title="Report Management"
                onclick="location.href = '/report'"></div> -->
            <div class="page_menu_element user_info" id="user_info" title="User info" style="display:none;"
                onclick="location.href = '/admin'"></div>
            <div class="page_menu_element log_out" id="log_out_page" title="Log Out" onclick="logout()"></div>
        </div>
        <div class="tab_menu">
            <div class="tab_menu_element create_type current_tab current_page" id="create_type" title="Create"
                onclick="TypeManagement.changeToTab('create', true)"></div>
            <div class="tab_menu_element edit_type" id="edit_type" title="Edit" style="display:none;" onclick="TypeManagement.changeToTab('edit', true)">
            </div>
            <div class="tab_menu_element delete_type" id="delete_type" title="Delete" style="display:none;"
                onclick="TypeManagement.changeToTab('delete', true) ">
            </div>
        </div>
        <div class="content column" id="content">
            <!-- title start -->
            <div class="title_container">
                <div class="page_title_container">
                    <h1 class="page_title">TYPE MANAGEMENT</h1>
                    <h2 id="sub_title" class="sub_title">Create</h2>
                    <div class="title_line"></div>
                </div>
            </div>
            <!-- title end -->
            <!-- bottom_container start -->
            <div class="content_tab" id="create_tab">
                <div class="type_info_container primary_background">
                    <div class="top_left_container">
                        <div class="type_info_element">
                            <div class="type_info_element_title">Type name</div>
                            <input type="text" id="create_type_name" autocomplete="off">
                        </div>
                        <div class="type_info_element">
                            <div class="type_info_element_title">Display name</div>
                            <input type="text" id="create_display_name" autocomplete="off">
                        </div>
                    </div>
                    <div class="top_right_container">
                        <div class="type_info_element">
                            <div class="type_info_element_title">Node type</div>
                            <select id="create_node_type">
                                <option value="data">Data</option>
                                <option value="dataset">Dataset</option>
                            </select>
                        </div>
                        <div class="type_info_element">
                            <div class="create_type_button" onclick="checkInputs('create')">Create type</div>
                        </div>
                    </div>
                </div>
                <div class="type_properties primary_background">
                    <div class="add_property_button" onclick="addPropertyRow('create')">Add property</div>
                    <div class="type_properties_container" id="create_type_properties_container"></div>
                </div>
            </div>
            <div class="content_tab" id="edit_tab">
                <div class="type_selection primary_background">
                    <div class="filter_options">
                        <div class="filter_option">
                            <div class="filter_option_title">Type name</div>
                            <input type="text" id="edit_filter_type_name" oninput="filterTypeList(event)"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="type_list_container" id="edit_type_list_container"></div>
                </div>
                <div class="type_info_container primary_background">
                    <div class="type_info_element">
                        <div class="type_info_element_title">Type name</div>
                        <input type="text" id="edit_type_name" autocomplete="off">
                    </div>
                    <div class="type_info_element">
                        <div class="type_info_element_title">Display name</div>
                        <input type="text" id="edit_display_name" autocomplete="off">
                    </div>
                    <div class="type_info_element">
                        <div class="edit_type_button" onclick="checkInputs('edit')">Edit type</div>
                    </div>
                </div>
                <div class="type_properties primary_background" id="edit_type_properties">
                    <div class="add_property_button" onclick="addPropertyRow('edit')">Add property</div>
                    <div class="type_properties_container" id="edit_type_properties_container"></div>
                </div>
            </div>
            <div class="content_tab" id="delete_tab">
                <div class="type_selection primary_background">
                    <div class="filter_options">
                        <div class="filter_option">
                            <div class="filter_option_title">Type name</div>
                            <input type="text" id="delete_filter_type_name" oninput="filterTypeList(event)"
                                autocomplete="off">
                        </div>
                        <div class="filter_option">
                            <div class="delete_type_button" onclick="deleteType()">Delete type</div>
                        </div>
                    </div>
                    <div class="type_list_container" id="delete_type_list_container"></div>
                </div>
            </div>
            <!-- bottom_container end -->
        </div>
    </div>
    <script src="js/typeManagement.js"></script>
</body>

</html>